<div class="container">
	
		<div class="row">
		
			<div class="col-sm-2">Stratum</div>
			<div class="col-sm-3"><select name="{{prefix_ctrl}}searchstratum" id="{{prefix_ctrl}}searchstratum" style="width:100%" multiple="multiple" ></select></div>
			
			
	</div>
</div>