{# src/AppBundle/Resources/views/searchcontributor_raw.html.twig #}
{% use "@App/forms/standalonejs.html.twig" %}
{% block body %}
<div class="container">
<br/>
<br/>
<br/>
<div class="row">
	<div class="col-sm-2">Name</div>
		<div class="col-sm-3"><select name="namecontrib" id="namecontrib" style="width:100%" multiple="multiple" ></select>
    </div>
	<div class="col-sm-2">Institution</div>
		<div class="col-sm-3"><select name="institute" id="institute" style="width:100%" multiple="multiple" ></select>
    </div>
</div>
<div class="row">
     <div class="col-sm-2"></div>
    <div class="col-sm-2"><input type="button" value="search" id="go_search_contrib2"/></div>
</div>
<div id="div_results" class="row"></div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
	<script language='javascript'>
	
	 var search_logic_contrib2=function(current_page, page_size, csv)
	{
		criterias={}
		criterias["current_page"]=current_page;
        criterias["page_size"]=page_size;
		criterias["namecontrib"]=$("#namecontrib").val();
		criterias["institute"]=$("#institute").val();
				
	
		console.log(criterias);
		$.post("{{ path('search_contributor')}}", criterias,
			function(data)
			{
				$("#div_results").html(data);
			}
		);
	}
	
	
	var search_contrib2=function(current_page, page_size)
	{
		search_logic_contrib2(current_page, page_size,false)
					
	}
		
	$(document).ready(
		function()
		{
			console.log("loaded");
			 $("#namecontrib").select2(select2_generic("{{ path('app_contribnames_autocomplete')}}","people","people" ),0);
			  $("#institute").select2(select2_generic("{{ path('app_contribinstitutions_autocomplete')}}","institut","institut" ),0);
			  
			  $("#go_search_contrib2").click(
				function()
				{
					search=search_contrib2;
					search_contrib2(1, $("#page_size").val());
				});
		}
	);
	</script>
{% endblock %}