{# src/AppBundle/Resources/views/documents/documentform_satellite.html.twig #}

<table>
 <tr> 
		
			<td>{% include "@App/foreignkeys/template_subforms_noajax.html.twig" with { 'nested_template':"@App/foreignkeys/satellite.html.twig" , 'ctrl_prefix' : 'sat_', 'ajax_route': path('get_widget_satellite'), 'fk_values': satellites|default(null), 'fk_value_field':'pk', 'fk_key_field':'pk', 'delete_route':'app_delete_satellite', 'container_pk':ddocument.pk }  %}</td>
	   </tr>
	    
</table>
