{# src/AppBundle/Resources/views/documents/documentform_archive.html.twig #}

<table>
 <tr> 
		
			<td>{% include "@App/foreignkeys/template_subforms_noajax.html.twig" with { 'nested_template':"@App/documents/archive_detail.html.twig" , 'ctrl_prefix' : 'archive_', 'ajax_route': path('get_widget_archive'), 'fk_values': archives|default(null), 'fk_value_field':'pk', 'fk_key_field':'pk', 'delete_route':'app_delete_archive', 'container_pk':ddocument.pk }  %}</td>
	   </tr>
	    
</table>
