{# src/AppBundle/Resources/views/dsample/dsampleform_minerals.html.twig #}
{% if action =="add" %}
	Please save the main part of the document first
{% else %}

Sample to localities
<div class="row">
{% include "@App/foreignkeys/template_subforms_noajax.html.twig" with {'nested_template':"@App/dsample/dsample_detail_loc.html.twig" , 'ctrl_prefix' : 'sample_detail_dlinklocsam', 'ajax_route': path('get_widget_sample_to_loc'), 'fk_values': dlinklocsam|default(null),
'delete_route':'app_delete_locality_from_sample', 'container_pk':dsample.pk,
'fk_key_field':'pk'
 }  %}
</div>
{% endif %}