{# src/AppBundle/Resources/views/dsample/dsampleform_doc.html.twig #}
{% if action =="add" %}
	Please save the main part of the document first
{% else %}

Sample to document
<div class="row">
{% include "@App/foreignkeys/template_subforms_noajax.html.twig" with {'nested_template':"@App/dsample/dsample_detail_doc.html.twig" , 'ctrl_prefix' : 'sample_detail_dlinkdocsam', 'ajax_route': path('get_widget_sample_to_doc'), 'fk_values': dlinkdocsam|default(null),
'delete_route':'app_delete_doc_from_sample', 'container_pk':dsample.pk,
'fk_key_field':'pk'
 }  %}
</div>
{% endif %}