{# src/AppBundle/Resources/views/dsample/dsampleform_heavymin.html.twig #}
{% if action =="add" %}
	Please save the main part of the document first
{% else %}

Sample to heavy minerals
<div class="row">

{% include "@App/foreignkeys/template_subforms_noajax.html.twig" with {'nested_template':"@App/dsample/dsample_detail_heavymin.html.twig" , 'ctrl_prefix' : 'sample_detail_heavymin', 'ajax_route': path('get_widget_sample_to_heavymin'), 'fk_values': dsamheavymin|default(null),
'delete_route':'app_delete_heavymin_from_sample', 'container_pk':dsample.pk,
'fk_key_field':'pk'
 }  %}
</div>
{% endif %}